*{
    margin: 0;
    padding: 0;
        font-family: 'Poppins', sans-serif;

}
:root{
    --white:#fff;
    --black:#000;
    --orange:
    --blue: #00a8b5;
    --featured_box:#808080;
    --light_gray: #b9b9b9;
    --review_card_bg:#49d4ea;
    --review_card_shadow: #51e3f3;
    --footer_section:#008080;


    --navbar: rgba(0,168,181,0.5);
    --service_box: rgba(0, 168, 181, 0.25);
    --feature: rgba(0,0,0,0.15);
    --arrival: rgba(0,0,0,0.15);
    --card_blog: rgba(0,0,0,0.22);


}

    

.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--white);
    padding-top: 10px;
    box-shadow: 0 2px 10px var(--navbar);
    position: sticky;
    top: 0;
    z-index: 10000;

}
.navLinks{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black);
    text-transform: capitalize;
    font-size: larger;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}
.navLinks a:hover{
    color: var(--review_card_bg);
}
.searchAndFavorite span {
    font-size: 22px;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.hamburger {
    font-size: 26px;
    cursor: pointer;
    display: none;
}
#home{
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("photoes/home\ backGround\ image.PNG");
}
.homeContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.homeText{
    width: 50%;
        min-width: 300px;

}
.homeImage{
    width: 50%;
    mix-blend-mode: multiply;
        min-width: 300px;

}
.header{
    color: var(--black);
    font-size: xx-large;
    font-weight: 600;
    text-transform: uppercase;
}
.headerParagraph{
    margin: 80px 0;
}
.headerSpan{
    color: var(--review_card_bg);
    display: block;
}
.btn{
    color: var(--white);
    background-color: var(--footer_section);
    padding: 8px 15px;
    border: none;
    text-transform: capitalize;
}
#services{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
}
.serviceBox{
    width: 20%;
    text-align: center;
    border: 1px solid var(--review_card_shadow);
    box-shadow: 0 0 20px var(--service_box);
    border-radius:4 px;
    -webkit-border-radius:4 px;
    -moz-border-radius:4 px;
    -ms-border-radius:4 px;
    -o-border-radius:4 px;
}
#services .serviceBox{
    background-color: var(--white);
    transition: background-color ease 1s;
    -webkit-transition: background-color ease 1s;
    -moz-transition: background-color ease 1s;
    -ms-transition: background-color ease 1s;
    -o-transition: background-color ease 1s;
}
.serviceBox img {
    transition: opacity 0.5s ease;
}
.serviceBox:hover img {
    opacity: 0.5;
}
#services .serviceBox .serviceHeadTitle{
    text-transform: capitalize;
    font-weight: bold;
}
#services .serviceBox:hover{
    background-color: var(--review_card_bg);
}
#about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.aboutContainer{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.aboutPhoto{
    width: 40%;
    
}
.aboutText{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.aboutText button {
    width: auto ;
    display: inline-block ;
    align-self: flex-start ;
    padding: 8px 18px;
}
.aboutText h2{
    text-transform: capitalize;
    font-weight: bolder;
}
.aboutText p {
    width: 90%;
    text-align: justify;
}
#featured{
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    gap: 100px;
}
.featuredHeaderText{
    text-transform: capitalize;

}
.featuredContainer{
    width: 95%;
    display: flex;
    gap: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding-bottom: 10px;
}
.featuredBox{
    border: 1px solid var(--featured_box);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.featuredBox:hover{
    border: 3px solid var(--review_card_bg);
    box-shadow: 0 8px 20px var(--feature);

}
.bookImg img{
    height: 250px;
    width: auto;
}
.featuredBox h2{
    text-transform:capitalize;
}
.featuredBox .bookAuthor{
    color: var(--featured_box);
}
.featuredBox .bookType{
    color: var(--review_card_bg);
}
.featuredBox .priceAfterDiscount{
    text-decoration:line-through;
}
.featuredBox .btn{
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--review_card_bg);
}



.featuredContainer::-webkit-scrollbar {
    height: 5px;
}

.featuredContainer::-webkit-scrollbar-track {
    background: var(--light_gray); 
    border-radius: 10px;
}

.featuredContainer::-webkit-scrollbar-thumb {
    background: var(--review_card_shadow);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.featuredContainer::-webkit-scrollbar-thumb:hover {
    background: var(--review_card_bg); 
}


.arrivalHeaderText{
    text-transform: capitalize;
    text-align: center;
}
.arrivalsContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 40px 0;
}
.arrivalBox {
    border: 1px solid var(--light_gray);
    border-radius: 5px;
    padding: 5px 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease;
    background: var(--white);
}
.arrivalBox:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px var(--arrival);
}
.arrivalBoxImage {
    width: 150px;
    height: 250px;
}
.arrivalBoxImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.stars i {
    color: var(--review_card_bg);
    font-size: 18px;
    margin-right: 3px;
}
.arrivalBookTitle {
    font-weight: bold;
    text-transform: capitalize;
}
.btn:hover {
    background-color: var(--review_card_bg);
}
.arrivalBox .btn{
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--review_card_bg);
}
#reviews{
    text-align: center;
     padding: 50px 0;
     font-family: Arial, sans-serif;
}
.reviews-Header{font-size: 40px;
    margin-bottom: 40px;
}
.reviews-container {
     display: flex; 
    justify-content: center; 
    gap: 25px; padding: 0 40px; 
}
.review-card { width: 50%;
     background: var(--white);
     border: 1px solid var(--review_card_bg);
     padding: 25px;
     text-align: left;
     box-shadow: 0px 10px 40px var(--review_card_shadow);
     position: relative;
}
.card-top {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.prof { width: 65px;
         height: 65px;
         border-radius: 50%;
 }
 
.review-card h3 { 
    margin-top: 15px;
     font-size: 20px;
}
.review-card p { 
    font-size: 14px;
    line-height: 1.45;
     margin: 10px 0 15px;
}
.banneer-book {
  position: relative;
}

.banneer-book img {
    width: 100%;
    height: auto;
    display: block;
}
.learn-btn {
     position: absolute;
       bottom: 100px; 
       left: 100px;
       background-color: var(--footer_section);  
       color: var(--white);
        padding: 10px 25px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
}
#blog {
    padding: 50px 0;
    text-align: center;

}
.blog-Header{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px ;
}
.blog-body{
    
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: auto;
    max-width: 1200px;
    flex-wrap: wrap;
}
.card-blog{
    width: 350px ;
    background-color: var(--white);
    border: 1px solid var(--white);
    box-shadow: 0 12px 35px var(--card_blog);
   
}
.card-blog img {
    width: 100%;
    height: 250px;
    display: block;
    
}
.text {
    padding: 20px;
    text-align: left;
}
.text h3 {
    color:var(--review_card_shadow) ;
    font-size: 20px;
    margin-bottom: 10px;
}
.text p {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.5;

}
.icona{
    margin-top: 1px;
    padding: 0 9px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icona i{
    font-size: 20px;
    cursor: pointer;
    color: var(--review_card_shadow);
}

.footer {
    background-color: var(--light_gray);
    padding: 40px 0 20px;
    font-family: Arial, sans-serif;
}

.footer-con {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    align-items: start;
}

.footer-section img {
    width: 120px;
    margin-bottom: 15px;
}

.footer-section h3 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
    font-size: 13px;
}

.footer-section p {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.iconsss i {
    font-size: 13px;
    margin-right: 12px;
    cursor: pointer;
}

.footer-section input {
    width: 90%;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: var(--white);
}

.footer-section button {
    padding: 8px 25px;
    background-color: var(--footer_section);
    border: none;
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    margin-top: 12px;
}

.footer-a {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}
.smaily{
    color:var(--footer_section);
}
.tex-color{
    color:var(--footer_section)  ;
}


