*{
    margin: 0;
    padding: 0;

}
body{
    
}
.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding-top: 10px;
    box-shadow: 0 2px 10px rgba(0,168,181,0.5);
    position: sticky;
    top: 0;
    z-index: 10000;

}
.navLinks{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: larger;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}
.navLinks a:hover{
    color: #00a8b5;
}
.searchAndFavorite span {
    font-size: 22px;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.3s;
}
#home{
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("photoes/home\ backGround\ image.PNG");
}
.homeContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeText{
    width: 50%;
}
.homeImage{
    width: 50%;
    mix-blend-mode: multiply;
}
.header{
    color: black;
    font-size: xx-large;
    font-weight: 600;
    text-transform: uppercase;
}
.headerParagraph{
    margin: 80px 0;
}
.headerSpan{
    color: #00a8b5;
    display: block;
}
.btn{
    color: white;
    background-color: #00a8b5;
    padding: 8px 15px;
    border: none;
    text-transform: capitalize;
}
#services{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
}
.serviceBox{
    width: 20%;
    text-align: center;
    border: 1px solid #00a8b5;
    box-shadow: 0 0 20px rgba(0, 168, 181, 0.25);
    border-radius:4 px;
    -webkit-border-radius:4 px;
    -moz-border-radius:4 px;
    -ms-border-radius:4 px;
    -o-border-radius:4 px;
}
#services .serviceBox{
    background-color: #fff;
    transition: background-color ease 1s;
    -webkit-transition: background-color ease 1s;
    -moz-transition: background-color ease 1s;
    -ms-transition: background-color ease 1s;
    -o-transition: background-color ease 1s;
}
.serviceBox img {
    transition: opacity 0.5s ease;
}
.serviceBox:hover img {
    opacity: 0.5;
}
#services .serviceBox .serviceHeadTitle{
    text-transform: capitalize;
    font-weight: bold;
}
#services .serviceBox:hover{
    background-color: #00a8b5;
}
