*{
    margin: 0;
    padding: 0;

}
body{
    
}
.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding-top: 10px;
    box-shadow: 0 2px 10px rgba(0,168,181,0.5);
    position: sticky;
    top: 0;
    z-index: 10000;

}
.navLinks{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: larger;
    
}
.searchAndFavorite span {
    font-size: 22px;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.3s;
}
#home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.homeContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeText{
    width: 50%;
}
.homeImage{
    width: 50%;
}
.header{
    color: black;
    font-size: xx-large;
    font-weight: 600;
    text-transform: uppercase;
}
.headerParagraph{
    margin: 80px 0;
}
.headerSpan{
    color: #00a8b5;
    display: block;
}
.btn{
    color: white;
    background-color: #00a8b5;
    padding: 8px 15px;
    border: none;
    text-transform: capitalize;
}